<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

    

</head>
<body">
    <link rel="stylesheet" href="style.css">
    <h1>3 страница!</h1>
    <p>Привет! <%= data[0].Predmet %> </p>
   
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О нас</a>
        <a href="/hhhh/:link">Предметы </a>
    </nav>
</body>
</html>