<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выбор направления</title>
</head>
<body>
    <link rel="stylesheet" href="style.css">
    <table style="width:100%">
        <% for(var i=0; i<data.length; i++){ %>
            <tr align="center">
                <td>
                    <nav>
                        <a href=<%=data[i].link%>><%=data[i].Napravl%></a>
                    </nav>
                </td>
            </tr>
            <% } %>
             
        
    </table>
</body>
</html>