<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выбор направления</title>
</head>
<body>
    <link rel="stylesheet" href="style.css">
    <table style="width:100%">
        <tr align="center">
            <td>
                <nav>
                    <a href="first">Направление 1</a>
                </nav>
            </td>
        </tr>
        <tr align="center">
            <td>
                <nav>
                    <a href="second">Направление 2</a>
                </nav>
            </td>
        </tr>
        <tr align="center">
            <td>
                <nav>
                    <a href="third">Направление 3</a>
                </nav>
            </td>
        </tr>
        <tr>
            <td align="center">
                <nav>
                    <a href="fourth">Направление 4</a>
                </nav>
            </td>
        </tr>
    </table>
</body>
</html>