<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>Выбор направления</title>

</head>
<body>
    <div class="logo" style="height: 100px; top: 0px; background:red;"></div>
    <div class="links" style="height: 20px; top: 100px; background:rgb(57, 49, 49);">
        <nav>
            <a class='dom' href= "/"> Направления  </a>
        </nav>
    </div>
    <div class="box"></div>
    <link rel="stylesheet" href="style.css">
    <table >
        <% for(var i=0; i<data.length; i++){ %>
            <tr align="center">
                <td>
                    <nav>
                        <a class="nap" href=<%=data[i].link%>><%=data[i].Napravl%></a>
                    </nav>
                </td>
            </tr>
            <% } %>
    </table>

</body>
</html>