<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выбор направления</title>
    <style>
  body,html {
    margin: 0;
    font-family: sans-serif;
  }
  
  ul {
    padding: 0;
    width: 100%;
  }
  
  li {
    display: inline;
  }
  
  a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
    background: rgb(65, 39, 214);
  }
  
  a:hover {
    background: rgb(65, 39, 214)e;
  }
  
  a:active {
    background: red;
    color: white;
  }
    </style>
</head>
<body>
    <link rel="stylesheet" href="style.css">
    <table style="width:100%">
        <tr>
            <td>
                <nav>
                    <a href="first">Направление 1</a>
                </nav>
            </td>
        </tr>
        <tr>
            <td>
                <nav>
                    <a href="second">Направление 2</a>
                </nav>
            </td>
        </tr>
        <tr>
            <td>
                <nav>
                    <a href="third">Направление 3</a>
                </nav>
            </td>
        </tr>
        <tr>
            <td>
                <nav>
                    <a href="fourth">Направление 4</a>
                </nav>
            </td>
        </tr>
    </table>
</body>
</html>