<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>Выбор направления</title>

</head>
<body>
    <div style="width: 100%; height: 100px; position: fixed; top: 0px; left: 0px; border: 1px solid black; background:red;"></div>
    <div style="width: 100%; height: 20px; position: fixed; top: 100px; left: 0px; border: 1px solid black; background:rgb(57, 49, 49);"></div>
    <link rel="stylesheet" href="style.css">
    <div id="rec"  style="width: 70%; height: 200px;  top: 0px; left: 0px; border: 1px solid black; background:rgb(128, 201, 32);" ></div>
    <table >
        <% for(var i=0; i<data.length; i++){ %>
            <tr align="center">
                <td>
                    <nav>
                        <a href=<%=data[i].link%>><%=data[i].Napravl%></a>
                    </nav>
                </td>
            </tr>
            <% } %>
    </table>

</body>
</html>