<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <link rel="stylesheet" href="style.css">
    <h1>Добро пожаловать на наш сайт!</h1>
    <p>Создано с использованием Node.js и Express.</p>
    <p><%= Object.keys(row1).length %></p>
    <p><%= row0.Napravlenia %></p>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О нас</a>
    </nav>
</body>
</html>