<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=C:\Users\galat\OneDrive\IEEproject\public\style.css>
    <title>Выбор направления</title>
</head>

<body>
    <img class="fon" src=./Kolia.jpg>
   


</body>

</html>