<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

    

</head>
<body">
    <link rel="stylesheet" href="style.css">
    <h1>2 страница!</h1>
    <p>Привет! <%= row0.name %> </p>
    <p>Привет! <%= row1.name %> </p>
    <p>Привет! <%= row0.name %> </p>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">О нас</a>
    </nav>
</body>
</html>