body {
    background-color: #ffffff;
    color: #dddddd;
}

table {
    width:100%;
    margin: 0;
    font-family: sans-serif;
    margin-top: 130px;
    background: #0f992a; 
  }
  
  ul {
    padding: 0;
    width: 100%;
  }
  
  li {
    display: inline;
  }
  
  a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 60%;
    margin-right: 0%;
    text-align: center;
    line-height: 3;
    color: rgb(255, 255, 255);
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
    background: rgb(65, 39, 214);
  }
  
  a:hover {
    background: rgb(65, 39, 214)e;
  }
  
  a:active {
    background: red;
    color: white;
  }
  #️rectangle {
    width: 220px;
    height: 120px;
    background: #4da1f7;
}