body {
    background-color: #ffffff;
    color: #dddddd;
}

table {
    position: relative;
    width:100%;
    margin: 0;
    font-family: sans-serif;
    margin-top: 130px;
    z-index: 2;
  }
  
  ul {
    padding: 0;
    width: 100%;
  }
  
  li {
    display: inline;
  }
  
  a {
    position: relative;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 60%;
    margin-right: 0%;
    text-align: center;
    line-height: 3;
    color: rgb(255, 255, 255);
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
    background: rgb(65, 39, 214);
  }
  
  a:hover {
    background: rgb(65, 39, 214)e;
  }
  
  a:active {
    background: red;
    color: white;
  }

  .box{
    position: fixed;
    z-index: 1;
    width: 70%;
    height: 100%;
    left: 15%;
    background:rgb(64, 175, 249);
    top: 0px;
  }
  .logo,.links{
    z-index: 3;
    width: 100%;
  }
a.zach {
    background-color: rgb(102, 119, 154);
}
a.zach:hover{
    background-color: rgb(133, 147, 172);
}
a.exam {
    background-color: rgb(187, 119, 122);
}
a.exam:hover {
    background-color: rgb(201, 142, 148);
}